<header>
  <ul class="nav">
    <li class="nav-child">
      <a href="/">首页</a>
    </li>
    <li class="nav-child">
      <a href="/about">关于</a>
    </li>
  </ul>
  <div class="theme-switcher" onclick="switchTheme()">😳</div>
  <script>
    if (isNight === 'false') {
      document.getElementsByClassName('theme-switcher')[0].textContent = '😳'
    } else {
      document.getElementsByClassName('theme-switcher')[0].textContent = '😴'
    }
  </script>
</header>